@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --beige: #DDD0C8;
  --light-beige: #d5beaf;
  --dark-beige: #907c6c;
  --dark-grey: #323232;
  --edit: #88cbff;
  --edit-darker: #57b6ff;
  --delete: #ff9a9a;
  --delete-darker: #ff7878;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--beige);
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
}
